.main-container {
  max-width: 768px;
  max-height: 480px;
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: $d-gap;
}

.login-page {
  max-width: 592px;
  max-height: 480px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 6rem 4.6rem;
  gap: calc(#{$d-gap}/ 1.5);
  .btn {
    padding: 0.6rem 1.4rem;
  }
}
