.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .searchbar {
    font-size: 1.05rem;
    display: block;
    width: 56%;
    background-color: $light-grey !important;
    background-position: 9px 11px !important;
    padding: 0.4rem 0 0.4rem 1.9rem;
    border: none;
    border-radius: $d-radius;
    color: $grey;
    &:focus {
      outline: none;
      color: $black;
    }
  }
}
