.song-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1.1rem;
  .song-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .song-img {
      width: 191px;
      height: 191px;
      filter: drop-shadow(0px 2px 11px rgba(78, 78, 78, 0.21));
      border-radius: $d-radius;
      margin-right: 1.5rem;
    }
    .song-details {
      color: $grey;
      font-weight: 700;
      h1 {
        font-weight: 800;
        color: $black;
        line-height: 1.5rem;
        margin-bottom: $mb-2;
      }
      p {
        font-size: 0.9rem;
        margin-bottom: $mb-1;
      }
      .song-title {
      }
      .song-type {
        font-size: 0.7rem;
        margin-left: 1.5px;
      }
    }

    .btns {
      display: flex;
      gap: 0.5rem;
      color: $primary-color;
      .link-btn {
      }
    }
  }

  .related-container {
    margin-top: -0.2rem;
    h2 {
      line-height: 1rem;
      font-weight: 800;
      margin-bottom: 0.6rem;
    }
    .related-albums {
      display: flex;
      gap: 1rem;
      .one-album {
        width: 64px;
        height: 64px;

        img {
          height: 100%;
          width: 100%;
          filter: drop-shadow(0px 1px 4px rgba(78, 78, 78, 0.16));
          border-radius: $d-radius;
        }
      }
    }
  }
}
