// imports

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap');

// variables

//fonts
$d-font: 'Manrope', sans-serif;

// colors
$white: #ffffff;
$black: #000000;
$light-grey: #e4e4e4;
$grey: #979797;
$dark-grey: #676767;
$purple: #8c30f5;
$primary-color: $purple;

// sizes
$d-radius: 4px;
$d-gap: 2rem;
$mb-1: 0.25rem;
$mb-2: calc(2.1 * #{$mb-1});

* {
  margin: 0;
  font-family: $d-font;
}

body {
  min-width: 576px;
}

h1 {
  font-size: 1.8rem;
  font-weight: 800;
}

h2 {
  font-size: 1.1rem;
  font-weight: 600;
}

a {
  text-decoration: none;
}

.link-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: $primary-color;
  gap: 0.4rem;
  cursor: pointer;
  padding: 0.5rem 0;
  /* &:hover {
    background-color: transparentize($color: $light-grey, $amount: 0.5);
    padding: 0.5rem 1rem;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
  } */
  .btn-icon {
    height: 0.7rem;
    width: 0.7rem;
  }
  .btn-text {
    font-size: 0.9rem;
  }
}

ul {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.line {
  border-bottom: 0.5px solid $grey;
}

.loading {
  text-align: center;
}

.btn {
  font-size: 1rem;
  font-weight: 700;
  background-color: $primary-color;
  color: $white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: $d-radius;
  cursor: pointer;
}

.success-icon {
  width: 3rem !important;
  height: auto;
}

//scrollbar
/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 1px 4px $light-grey;
  border-radius: 11rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $primary-color;
  border-radius: 11rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: darken($color: $primary-color, $amount: 10%);
}
