@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap");
* {
  margin: 0;
  font-family: "Manrope", sans-serif;
}

body {
  min-width: 576px;
}

h1 {
  font-size: 1.8rem;
  font-weight: 800;
}

h2 {
  font-size: 1.1rem;
  font-weight: 600;
}

.logo-text {
  font-size: 1.5rem;
  font-weight: 800;
}

.link-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #8c30f5;
  gap: 0.4rem;
  cursor: pointer;
  padding: 0.5rem 0;
}

.link-btn:hover {
  background-color: rgba(228, 228, 228, 0.5);
  padding: 0.5rem 1rem;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.link-btn .btn-icon {
  height: 0.7rem;
  width: 0.7rem;
}

.link-btn .btn-text {
  font-size: 0.9rem;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  padding: 0;
}

.line {
  border-bottom: 0.5px solid #979797;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 1px 4px #e4e4e4;
          box-shadow: inset 0 1px 4px #e4e4e4;
  border-radius: 11rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #8c30f5;
  border-radius: 11rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #720be7;
}

.main-container {
  max-width: 768px;
  max-height: 480px;
  padding: 1rem 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .searchbar {
  font-size: 1.05rem;
  display: block;
  width: 56%;
  background-color: #e4e4e4 !important;
  background-position: 9px 11px !important;
  padding: 0.4rem 0 0.4rem 1.9rem;
  border: none;
  border-radius: 4px;
  color: #979797;
}

.navbar .searchbar:focus {
  outline: none;
  color: #000000;
}

.song-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.1rem;
}

.song-info .song-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.song-info .song-container .song-img {
  width: 191px;
  height: 191px;
  -webkit-filter: drop-shadow(0px 2px 11px rgba(78, 78, 78, 0.21));
          filter: drop-shadow(0px 2px 11px rgba(78, 78, 78, 0.21));
  border-radius: 4px;
  margin-right: 1.5rem;
}

.song-info .song-container .song-details {
  color: #979797;
  font-weight: 700;
}

.song-info .song-container .song-details h1 {
  font-weight: 800;
  line-height: 2.1rem;
  color: #000000;
  margin-bottom: calc(2.1 * 0.25rem);
}

.song-info .song-container .song-details p {
  font-size: 0.9rem;
  margin-bottom: 0.25rem;
}

.song-info .song-container .song-details .song-type {
  font-size: 0.7rem;
  margin-left: 1.5px;
}

.song-info .song-container .btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5rem;
  color: #8c30f5;
}

.song-info .related-container {
  margin-top: -0.2rem;
}

.song-info .related-container h2 {
  line-height: 1rem;
  font-weight: 800;
  margin-bottom: 0.6rem;
}

.song-info .related-container .related-albums {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  cursor: pointer;
}

.song-info .related-container .related-albums .one-album {
  width: 64px;
  height: 64px;
}

.song-info .related-container .related-albums .one-album img {
  height: 100%;
  width: 100%;
  -webkit-filter: drop-shadow(0px 1px 4px rgba(78, 78, 78, 0.16));
          filter: drop-shadow(0px 1px 4px rgba(78, 78, 78, 0.16));
  border-radius: 4px;
}

.loading {
  width: 574px;
  height: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer {
  font-size: 1rem;
  text-align: center;
  padding-bottom: 1rem;
}

footer a {
  text-decoration: none;
  color: #8c30f5;
  font-weight: 600;
}

footer a:hover {
  font-weight: 800;
}

.choose-playlist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: calc(2rem / 2);
}

.choose-playlist .playlists {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  max-height: 342px;
  overflow-y: scroll;
  padding: 0 1rem;
}

.choose-playlist .playlists .first .playlist-img {
  width: calc(104px - 1.1rem) !important;
}

.choose-playlist .playlists .first .playlist-text .big-text {
  font-size: 1rem;
  text-align: center;
  line-height: 1.1rem;
  font-weight: 800;
}

.choose-playlist .playlists .one-playlist {
  width: 128px;
  height: calc(128px + 34px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: radial-gradient(182.81% 153.92% at -23.44% -17.97%, rgba(103, 103, 103, 0.4) 0%, rgba(228, 228, 228, 0) 100%);
  -webkit-backdrop-filter: blur(42px);
          backdrop-filter: blur(42px);
  border-radius: calc(4px / 2);
  cursor: pointer;
}

.choose-playlist .playlists .one-playlist .playlist-img {
  width: 104px;
  height: 104px;
  border-radius: calc(4px / 2);
}

.choose-playlist .playlists .one-playlist .playlist-text {
  width: 104px;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.choose-playlist .playlists .one-playlist .playlist-text .playlist-name {
  font-size: 0.9rem;
  font-weight: 800;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.choose-playlist .playlists .one-playlist .playlist-text .playlist-owner {
  color: #676767;
  font-size: 0.64rem;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.choose-playlist .confirmation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.choose-playlist .confirmation .success-icon {
  width: 2rem;
  height: auto;
}

.choose-playlist .confirmation .msg {
  text-align: center;
}

.choose-playlist .confirmation .msg span {
  color: #8c30f5;
}

.choose-playlist .confirmation .btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1rem;
}

.choose-playlist .confirmation .btns .link-btn span {
  font-size: 1rem;
  font-weight: 700;
}

.transfer-playlist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.transfer-playlist .playlist-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.1rem;
  padding-top: 1.1rem;
}

.transfer-playlist .playlist-info .lbl {
  font-size: 1.4rem;
  margin-bottom: 0.6rem;
}

.transfer-playlist .playlist-info .line {
  border-right: 0.5px solid #979797;
  height: 200px;
}

.transfer-playlist .playlist-info .playlist-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.1rem;
}

.transfer-playlist .playlist-info .playlist-container .playlist-img {
  width: 151px;
  height: 151px;
}

.transfer-playlist .playlist-info .playlist-container .playlist-details {
  color: #979797;
  font-weight: 700;
}

.transfer-playlist .playlist-info .playlist-container .playlist-details h1 {
  font-weight: 800;
  color: #000000;
  line-height: 1.5rem;
  margin-bottom: calc(2.1 * 0.25rem);
}

.transfer-playlist .playlist-info .playlist-container .playlist-details p {
  font-size: 0.9rem;
  margin-bottom: 0.25rem;
}

.transfer-playlist .playlist-info .playlist-container .playlist-details .playlist-type {
  font-size: 0.7rem;
  margin-left: 1.5px;
}

.transfer-playlist .playlist-info .checked {
  background-color: #8c30f5;
  color: #ffffff !important;
}

.transfer-playlist .playlist-info .checked .song-name {
  color: #ffffff !important;
}

.transfer-playlist .playlist-info .one-song {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.4rem;
  margin-bottom: 0.25rem;
  -webkit-transition-duration: 0.36s;
          transition-duration: 0.36s;
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
          transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  cursor: pointer;
  border-radius: calc(4px / 2);
  font-weight: 600;
  font-size: 1rem;
  color: #979797;
}

.transfer-playlist .playlist-info .one-song .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.6rem;
}

.transfer-playlist .playlist-info .one-song .left .song-img {
  width: 46px;
  height: 46px;
  border-radius: calc(4px / 2);
}

.transfer-playlist .playlist-info .one-song .left .song-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.transfer-playlist .playlist-info .one-song .left .song-text .song-name {
  color: #000000;
  font-weight: 800;
}

.transfer-playlist .playlist-info .one-song .left .song-text .song-artist {
  font-size: 0.8rem;
}

.transfer-playlist .playlist-info .one-song .right .song-duration {
  font-size: 0.8rem;
}

.transfer-playlist .playlist-info .right .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.2rem;
}

.transfer-playlist .playlist-info .right .header .lbl {
  margin: 0;
}

.transfer-playlist .playlist-info .right .header .btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 0.86rem;
  color: #8c30f5;
}

.transfer-playlist .playlist-info .right .header .btn:focus {
  outline: none;
}

.transfer-playlist .playlist-info .playlist-songs {
  min-width: 20rem;
  max-height: 151px;
  padding-right: 0.4rem;
  overflow-y: scroll;
}

.transfer-playlist .btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1rem;
}

.transfer-playlist .btns .link-btn .btn-icon {
  width: 1rem;
  height: 1rem;
}

.transfer-playlist .btns .link-btn .btn-text {
  font-weight: 700;
  font-size: 1.1rem;
}

.add-new-playlist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.1rem;
}

.add-new-playlist .new-playlist-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.1rem;
}

.add-new-playlist .new-playlist-form .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.add-new-playlist .new-playlist-form .text .inputs {
  font-size: 1.1rem;
  padding: 0.5rem 1rem;
  background-color: #e4e4e4 !important;
  border: none;
  border-radius: 4px;
  color: #979797;
  width: 18rem;
}

.add-new-playlist .new-playlist-form .text .inputs:focus {
  color: #000000;
  outline: none;
}

.add-new-playlist .new-playlist-form .text .title {
  font-weight: 800;
}

.add-new-playlist .new-playlist-form .text .desc {
  font-size: 1rem;
  width: 18rem;
  height: 100%;
  resize: none;
}

.add-new-playlist .new-playlist-form .text .btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.1rem;
  font-size: 1rem;
  font-weight: 600;
}

.add-new-playlist .new-playlist-form .text .btns .link-btn {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=main.css.map */